@model Website.Helpers.PaginatedList<Game>
@{
    ViewData["Title"] = "Games";
}

<div>
    <form asp-action="Index" method="get" class="mb-2" id="searchForm">
        <div class="input-group">
            <div class="form-floating">
                <input
                    type="search"
                    name="query"
                    value="@ViewData["CurrentFilter"]"
                    class="form-control"
                    placeholder=""
                    id="queryInput"
                />
                <label>Search Games</label>
            </div>
            <button type="button" class="btn btn-secondary" onclick="clearSearch()"><i class="bi bi-x-lg"></i></button>
            <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
        </div>
    </form>

    @foreach (var game in Model)
    {
        <a
            asp-controller="Games"
            asp-action="ViewGame"
            asp-route-id="@game.Id"
            class="link-underline link-underline-opacity-0"
        >
            <partial name="Partials/GameCard" model="game"/>
        </a>
    }

    @if (Model.TotalPages > 1)
    {
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";

        <nav aria-label="Games results pages">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a
                        asp-action="Index"
                        asp-route-sortOrder="@ViewData["CurrentSort"]"
                        asp-route-pageNumber="@(Model.PageIndex - 1)"
                        asp-route-currentFilter="@ViewData["CurrentFilter"]"
                        class="page-link @prevDisabled"
                    >
                        Previous
                    </a>
                </li>
                @for (var i = 1; i <= Model.TotalPages; i++)
                {
                    var active = i == Model.PageIndex ? "active" : "";
                    <li class="page-item">
                        <a
                            asp-action="Index"
                            asp-route-sortOrder="@ViewData["CurrentSort"]"
                            asp-route-pageNumber="@i"
                            asp-route-currentFilter="@ViewData["CurrentFilter"]"
                            class="page-link @active"
                        >
                            @i
                        </a>
                    </li>
                }
                <li class="page-item">
                    <a
                        asp-action="Index"
                        asp-route-sortOrder="@ViewData["CurrentSort"]"
                        asp-route-pageNumber="@(Model.PageIndex + 1)"
                        asp-route-currentFilter="@ViewData["CurrentFilter"]"
                        class="page-link @nextDisabled"
                    >
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    }
</div>

@section Scripts
{
    <script>
        const searchForm = $("#searchForm");
        const queryInput = $("#queryInput");

        function clearSearch() {
            if (queryInput.val() === "")
                return;
            queryInput.val("");
            searchForm.submit();
        }
    </script>
}

