@model ViewGame

@{
    ViewData["Title"] = Model.Game.Name;
    var avgRating = Model.Game.AverageRating();
}

<div>
    <div id="game-section" class="d-flex flex-column flex-md-row flex-nowrap">
        <img
            id="cover"
            class="col-4 rounded-2 align-self-center"
            src="@Model.Game.ImageUrl"
            alt="@Model.Game.Name cover art"
        >
        <div id="content" class="ms-md-2 mt-2 mt-md-0 col-8">
            <h2>@Model.Game.Name</h2>
            <h4>
                @if (avgRating != null)
                {
                    @($"Avg. {avgRating:F2}/10")
                    <span class="text-body-tertiary">(@Model.Game.Reviews.Count @(Model.Game.Reviews.Count > 1 ? "reviews" : "review"))</span>
                }
                else
                {
                    <span class="text-body-tertiary">No ratings</span>
                }
            </h4>
        </div>
    </div>
    <div id="reviews-section" class="mt-4">
        <h3>Reviews</h3>
        <partial name="Components/ReviewForm" model="Model.AddReviewModel"/>
        @if (Model.Game.Reviews.Count > 0)
        {
            foreach (var review in Model.Game.Reviews)
            {
                <partial
                    name="Components/ReviewCard"
                    model="review"
                    view-data="@(new ViewDataDictionary(this.ViewData) { { "displayGame", false } })"
                />
            }
        }
        else
        {
            <div class="text-center my-4">
                <h4>No reviews yet</h4>
                <p>Have you played this game? Be the first to write a review!</p>
            </div>
        }
    </div>
</div>
