@model Review

<div class="card w-100 mb-2" style="width: 18rem;">
    <div class="card-header">
        <a
            asp-controller="Games"
            asp-action="ViewGame"
            asp-route-id="@Model.Game.Id"
            class="link-underline link-underline-opacity-0 text-body"
        >
            @Model.Game.Name
            <i class="bi bi-chevron-right"></i>
        </a>
        <div></div>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Body</p>
    </div>
    <div class="card-footer">
        <div aria-description="Rating @Model.Rating out of 5 stars" class="d-flex gap-1">
            @for (int i = 0; i < Model.Rating; i++)
            {
                <i class="bi bi-star-fill text-warning"></i>
            }
            @for (int i = 0; i < 5 - Model.Rating; i++)
            {
                <i class="bi bi-star text-warning"></i>
            }
        </div>
    </div>
</div>