@model Review
@{
    var displayGame = (bool?)ViewData["displayGame"] ?? true;
}

<div class="card w-100 mb-2">
    <div class="card-header">
        @if (displayGame)
        {
            <a
                asp-controller="Games"
                asp-action="ViewGame"
                asp-route-id="@Model.Game.Id"
                class="link-underline link-underline-opacity-0 text-body"
            >
                @Model.Game.Name
                <i class="bi bi-chevron-right"></i>
            </a>
        }
        <div>
            <i class="bi bi-person-circle"></i>
            @(Model.Author?.UserName ?? "[Deleted User]")
        </div>
    </div>
    <div class="card-body">
        @if (!string.IsNullOrEmpty(Model.Title))
        {
            <h5 class="card-title">@Model.Title</h5>
        }
        <pre class="card-text" style="font-family: var(--bs-body-font-family); font-size: 1rem">@Model.Body</pre>
    </div>
    <div class="card-footer fs-5">
       @Model.Rating/10
    </div>
</div>